<%= form_for @article, html: {multipart: true} do |f| %>
  <% if @article.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% for message in @article.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :category_id, "Category" %>
  <%= f.collection_select :category_id, Category.all, :id, :description, :prompt => true %>

  <%= f.label :tag_list, "Tags (separated by commas)" %>
  <%= f.text_field :tag_list %>

  <%= f.file_field :image %>

  <%= f.label :body %>
  <%= f.text_area :body, style: "height: 20rem;" %>

  <%= f.submit %> or <%= link_to "Cancel", articles_path %>
<% end %>
