%h1 Edit Article

= form_for @article do |f|
  %p
    = f.label :title
    %br
    = f.text_field :title, :class => "title_field"
  %p
    = f.label :content
    %br
    = f.text_area :content, :rows => 20, :cols => 100

  %p{:class => "button"}
    = f.submit "Update"
    or
    = link_to "Cancel", articles_path
