%h1 Articles

= flash[:notice]


%ul
- @articles.each do |article|
  .article
    %li
      .actionable
        = article.author.full_name
        
        %b= link_to article.title, article
        .actions_box
          = link_to "Edit", edit_article_path(article)

%p= link_to "New Article", new_article_path