<!-- Main Blog Content -->
<div class="large-9 columns">
  <% @articles.each do |article| %>
    <article>
      <h3><a href="#"><%= link_to article.title, article %></a></h3>
      <h6>Category: <%= article.category.description %></h6>
      <h6>Written by <%= article.author.name %> on <%= article.created_at.to_s(:long) %></h6>
      <%= simple_format article.body %>
    </article>

    <hr/>
  <% end %>

  <section class="paginate">
    <%= paginate @articles %>
  </section>

</div>