<div class="large-9 columns" role="content">
  <article>
    <h3><%= @article.title %></h3>
    <h6>Written by <%= @article.author.name %> on <%= @article.created_at.to_s(:long) %></h6>

    <%= simple_format h(@article.body) %>  
  </article>

  <p><%= link_to "Edit", edit_article_path(@article) if @article.author == current_user %></p>

  <section id="comments">
  <h3>Comments</h3>

    <% @article.comments.each do |comment| %>
      <section class="comment">
        <%= comment.body %>
      </section>
    <% end %>

    <% if current_user %>
      <%= form_for [@article, @comment] do |f| %>
        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body %>
        </div>
        <div class="field">
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>

  </section>
</div>
