%h1 Articles

- @articles.each do |article|
  %h2= link_to article.title, article
  %p
    Author
    = article.user.full_name
    = distance_of_time_in_words(article.created_at, Time.now)
    ago
  = raw RedCloth.new(article.content).to_html

%h1 Activities

= activities_list