<!DOCTYPE html>
<html>
<head>
  <title>Fuzzycms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="top_nav">
    <ul>
      <li><%= link_to "Articles", articles_path %></li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
