!!!
%html
  %head
    %title
      = h(yield(:title) || "FuzzyCMS")
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = yield(:head)

  %body
    #container
      #user_nav
        - if current_user
          = link_to "My Profile", user_path(:current)
          = link_to "Logout", logout_path
        - else
          = link_to "Register", new_user_path
          = link_to "Login", login_path

      #public_nav
        = link_to "Home", root_url
        = raw pages_nav
        = link_to "Pages", pages_url

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1
          =h yield(:title)


      = yield
